.milestone-row {
  @include str-truncated(90%);
}

.dashboard .side .card .card-header .input-group {
  .form-control {
    height: 42px;
  }
}

.group-root-path {
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: nowrap;
}

.content-list .group-name {
  font-weight: $gl-font-weight-bold;
  color: $pages-group-name-color;
}

.group-row {
  @include basic-list-stats;

  .description p {
    margin-bottom: 0;
  }
}

.ldap-group-links {
  .form-actions {
    margin-bottom: $gl-padding;
  }
}

.group-nav-container .group-search,
.group-nav-container .nav-controls {
  display: flex;
  align-items: flex-start;
  padding: $gl-padding-top 0 0;

  .group-filter-form {
    flex: 1 1 auto;
    margin-right: $gl-padding-8;
  }

  .dropdown-menu-right {
    margin-top: 0;
  }

  .new-project-subgroup {
    .dropdown-primary {
      min-width: 115px;
    }

    .dropdown-toggle {
      .dropdown-btn-icon {
        pointer-events: none;
        color: inherit;
        margin-left: 0;
      }
    }

    .dropdown-menu {
      min-width: 280px;
      margin-top: 2px;
    }

    li:not(.divider) {
      padding: 0;

      &.droplab-item-selected {
        .icon-container {
          .list-item-checkmark {
            visibility: visible;
          }
        }
      }

      .menu-item {
        padding: 8px 4px;

        &:hover {
          background-color: $gray-darker;
          color: $theme-gray-900;
        }
      }

      .icon-container {
        float: left;
        padding-left: 6px;

        .list-item-checkmark {
          visibility: hidden;
        }
      }

      .description {
        font-size: 14px;

        strong {
          display: block;
          font-weight: $gl-font-weight-bold;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &,
    .dropdown,
    .dropdown .dropdown-toggle,
    .btn-success {
      display: block;
    }

    .group-filter-form,
    .dropdown {
      margin-bottom: 10px;
      margin-right: 0;
    }

    .group-filter-form,
    .dropdown .dropdown-toggle,
    .btn-success {
      width: 100%;
    }

    .dropdown .dropdown-toggle .fa-chevron-down {
      position: absolute;
      top: 11px;
      right: 8px;
    }

    .new-project-subgroup {
      display: flex;
      align-items: flex-start;

      .dropdown-primary {
        flex: 1;
      }

      .dropdown-toggle {
        width: auto;
      }

      .dropdown-menu {
        width: 100%;
        max-width: inherit;
        min-width: inherit;
      }
    }
  }
}

.group-nav-container .group-search {
  padding: $gl-padding 0;
  border-bottom: 1px solid $border-color;
}

.groups-listing {
  .group-list-tree .group-row:first-child {
    border-top: 0;
  }
}

.card {
  .shared_runners_limit_under_quota {
    color: $green-500;
  }

  .shared_runners_limit_over_quota {
    color: $red-500;
  }
}

.pipeline-quota {
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
  margin: 0 0 $gl-padding;

  .row {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .right {
    text-align: right;
  }

  .progress {
    height: 6px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 4px;
  }
}

.user-settings-pipeline-quota {
  margin-top: $gl-padding;

  .pipeline-quota {
    border-top: 0;
  }
}

table.pipeline-project-metrics tr td {
  padding: $gl-padding;
}

.mattermost-icon svg {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.mattermost-team-name {
  color: $gl-text-color-secondary;
}

.mattermost-info {
  display: block;
  color: $gl-text-color-secondary;
  margin-top: 10px;
}

.explore-groups.landing {
  .inner-content {
    padding: 0;

    p {
      margin: 7px 0 0;
      max-width: 480px;
      padding: 0 $gl-padding;

      @include media-breakpoint-down(sm) {
        margin: 0 auto;
      }
    }
  }

  .svg-container svg {
    width: 62px;
    height: 50px;
  }
}

.user-access-role {
  display: inline-block;
  color: $gl-text-color-secondary;
  font-size: 12px;
  line-height: 20px;
  margin: -5px 3px;
  padding: 0 $label-padding;
  border: 1px solid $border-color;
  border-radius: $label-border-radius;
  font-weight: $gl-font-weight-normal;
}

.js-groups-dropdown {
  width: 100%;
}

.dropdown-group-transfer {
  bottom: 100%;
  top: initial;

  .dropdown-content {
    overflow-y: unset;
  }
}

.groups-list-tree-container {
  .has-no-search-results {
    text-align: center;
    padding: $gl-padding;
    font-style: italic;
    color: $well-light-text-color;
  }

  > .group-list-tree > .group-row.has-children:first-child {
    border-top: 0;
  }
}

.group-list-tree {
  .avatar-container.content-loading {
    position: relative;

    > a,
    > a .avatar {
      height: 100%;
      border-radius: 50%;
    }

    > a {
      padding: 2px;

      .avatar {
        border: 2px solid $white-normal;

        &.identicon {
          line-height: 15px;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: 2px outset $gl-gray-200;
      border-radius: 50%;
      animation: spin-avatar 3s infinite linear;
    }
  }

  .folder-toggle-wrap {
    font-size: 0;
    flex-shrink: 0;

    span {
      font-size: $gl-font-size;
    }
  }

  .folder-caret,
  .item-type-icon {
    display: inline-block;
  }

  .folder-caret {
    width: 15px;

    svg {
      margin-bottom: 1px;
    }
  }

  .item-type-icon {
    margin-top: 2px;
    width: 20px;
  }

  > .group-row:not(.has-children) {
    .folder-caret {
      opacity: 0;
    }
  }

  .content-list li:last-child {
    padding-bottom: 0;
  }

  .group-list-tree {
    margin-bottom: 0;
    margin-left: 30px;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 0;
      position: absolute;
      top: 5px;
      bottom: 0;
      left: -16px;
      border-left: 2px solid $border-white-normal;
    }

    .group-row {
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 10px;
        height: 0;
        border-top: 2px solid $border-white-normal;
        position: absolute;
        top: 30px;
        left: -16px;
      }

      &:last-child::before {
        background: $white-light;
        height: auto;
        top: 30px;
        bottom: 0;
      }

      &.being-removed {
        opacity: 0.5;
      }
    }
  }

  .group-row {
    padding: 0;

    &.has-children {
      border-top: 0;
    }

    &:first-child {
      border-top: 1px solid $white-normal;
    }
  }

  .group-row-contents {
    padding: $gl-padding-top;

    &:hover {
      border-color: $blue-200;
      background-color: $blue-50;
      cursor: pointer;
    }

    .group-text {
      min-width: 0; // allows for truncated text within flex children
    }

    .avatar-container {
      flex-shrink: 0;

      > a {
        width: 100%;
        text-decoration: none;
      }
    }

    &.has-more-items {
      display: block;
      padding: 20px 10px;
    }

    .description {
      p {
        @include str-truncated;

        max-width: none;
      }
    }

    .stats {
      position: relative;
      line-height: normal;
      text-align: right;
      flex-shrink: 0;

      > span {
        display: inline-flex;
        align-items: center;
        height: 16px;
        min-width: 30px;
      }

      > span:last-child {
        margin-right: 0;
      }

      .stat-value {
        margin: 2px 0 0 5px;
      }
    }

    .controls {
      flex-shrink: 0;

      > .btn {
        margin: 0 0 0 $btn-margin-5;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .group-stats {
      display: none;
    }
  }

  .project-row-contents .stats {
    line-height: inherit;

    > span:first-child {
      margin-left: 25px;
    }

    .item-visibility {
      margin-right: 0;
    }

    .last-updated {
      position: relative;
      right: 12px;
      min-width: 250px;
      text-align: right;
      color: $gl-text-color-secondary;
    }
  }
}

.js-groups-list-holder {
  .groups-list-loading {
    font-size: 34px;
    text-align: center;
  }
}
