- ci_cd_only = local_assigns.fetch(:ci_cd_only, false)

.form-group.import-url-data
  = f.label :import_url, class: 'label-bold' do
    %span
      = _('Git repository URL')

  = f.text_field :import_url, autocomplete: 'off', class: 'form-control', placeholder: 'https://username:password@gitlab.company.com/group/project.git', required: true

  .info-well.prepend-top-20
    .well-segment
      %ul
        %li
          = _('The repository must be accessible over <code>http://</code>, <code>https://</code> or <code>git://</code>.').html_safe
        %li
          = _('If your HTTP repository is not publicly accessible, add authentication information to the URL: <code>https://username:password@gitlab.company.com/group/project.git</code>.').html_safe
        %li
          = import_will_timeout_message(ci_cd_only)
        %li
          = import_svn_message(ci_cd_only)
        - unless ci_cd_only
          %li
            - ssh_link = link_to _('here'), help_page_path('/workflow/repository_mirroring.md', anchor: 'ssh-authentication')
            = _('Once imported, repositories can be mirrored over SSH. Read more %{ssh_link}').html_safe % { ssh_link: ssh_link }

-# EE-specific start
= render 'shared/ee/import_form', f: f unless ci_cd_only
-# EE-specific end
